@page
@model CustomerApp.Pages.Corporates.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Corporate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Corporate.CompanyType" class="control-label"></label>
                <table>
                <tr>
                @foreach(var Company in Model.CompanyList)
                {
                    <td>
                      <label for="@Company.Value">@Company.Text</label>
                    </td>
                    <td>
                        <input id="@Company.Value" type="checkbox" 
                      name="CompanyTypeArr" value="@Company.Value" />
                    </td>
                }
                </tr>
                </table>
                <span asp-validation-for="Corporate.CompanyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corporate.FirstName" class="control-label"></label>
                <input asp-for="Corporate.FirstName" class="form-control" />
                <span asp-validation-for="Corporate.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corporate.LastName" class="control-label"></label>
                <input asp-for="Corporate.LastName" class="form-control" />
                <span asp-validation-for="Corporate.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corporate.MiddleName" class="control-label"></label>
                <input asp-for="Corporate.MiddleName" class="form-control" />
                <span asp-validation-for="Corporate.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corporate.ContactNo" class="control-label"></label>
                <input asp-for="Corporate.ContactNo" class="form-control" />
                <span asp-validation-for="Corporate.ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corporate.Email" class="control-label"></label>
                <input asp-for="Corporate.Email" class="form-control" />
                <span asp-validation-for="Corporate.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Corporate.Password" class="control-label"></label>
                <input asp-for="Corporate.Password" class="form-control" />
                <span asp-validation-for="Corporate.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
