@page
@model BankingAppv7.Pages.HomeModel
@{
}
<div class="text-center">
    <p>
        <b>Name:</b> @HttpContext.Session.GetString("_Name");<b>
            Age:

        </b> @HttpContext.Session.GetString("_Status");
    </p>
</div>