@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>
        <b>Name:</b> @HttpContext.Session.GetString("_Name");<b>
            Age:

        </b> @HttpContext.Session.GetString("_Status");
    </p>
</div>